- cache [current_language, page.uri, short_date(page.updated_at)] do
  %tr
    %td.owner.hidden-xs
      = link_to_entity(page.owner, avatar: :xsmall)
    %td.page_icon
      = page_icon(page)
    %td.title
      = cell_title(page)
    %td.public_private
      = icon_tag('globe', title: I18n.t(:page_is_public) ) if page.public
    %td.updated_by
      = link_to_entity(page.updated_by, avatar: :xsmall)
    %td.nowrap.updated_at
      = friendly_date(page.updated_at)
    %td.contributors.hidden-xs
      = page.contributors_count
